[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
awsebcli = "*"
joblib = "==1.2.0"
pandas = "==1.0.4"
scikit-learn = "==0.22.2.post1"
gunicorn = "*"

[requires]
python_version = "3.7"
